* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #c5daff !important;
}

.tex-header {
  text-align: center;
  font-size: 4em;
  height: 2.4em;
  padding: 20px;
}

.tex-memory-game {
  width: 1000px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  justify-content: center;
}

div[class*="tex-card"] {
  width: 15%;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.tex-card-number {
  position: absolute;
  z-index: 10;
  padding: 6px;
  float: right;
  right: 3px;
  font-size: 17px;
  font-family: cursive;
  color: white;
  top: 0px;
}

div[class*="tex-card"]:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

div[class*="tex-card"].flip {
  transform: rotateY(180deg);

  background-color: #ffffff73;
}

div[class*="tex-card"].flip .tex-card-number {
  font-size: 0;
}

.front-face,
.back-face {
  width: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #001236;
  backface-visibility: hidden;
  border-radius: 12px;
}

.front-face {
  transform: rotateY(180deg);
  background: transparent;
}

.tex-footer {
  bottom: 1em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card-body {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  -moz-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  height: 87vh;
}

.tex-card-congratulations {
  cursor: default;
  background: #42f5ab73 !important;
}

.tex-cursor-pointer{
  cursor: pointer;
}

.alert-secondary{
  margin: 20px 10px;
  font-size: 1em;
  font-weight: bold;
  font-family: math;
}